head
  link(rel="stylesheet" href="/static/css/style.css")
body
  
  #content
    #canvas

  footer
    p Written by 
      a(href="http://slezica.me") slezica
      span  and 
      a(href="http://estebanordano.com") eordano
      span  © 2013
    p Tips @ 
      a(href="bitcoin:1Ksy5mTDsFVaXh9u63hLg9na5frW2veV7b") 1Ksy5mTDsFVaXh9u63hLg9na5frW2veV7b

  script(src="http://code.jquery.com/jquery-2.0.3.min.js")

  script(src="http://maps.google.com/maps/api/js?sensor=false")

  script(src="/socket.io/socket.io.js")

  script(src="/static/js/coffee-script.js")
  script(type="text/coffeescript" src="/static/coffee/client.coffee")


  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-44990030-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();