head
  link(rel="stylesheet" href="/static/css/style.css")
body
  p Hola

  script(src="http://code.jquery.com/jquery-2.0.3.min.js")
  script(src="/socket.io/socket.io.js")

  script(src="/static/js/coffee-script.js")
  script(type="text/coffeescript" src="/static/coffee/client.coffee")